body{
    background-color: lightgray;

}
#width_cont{
    width: 350px;
    margin: 0 auto;
    padding: 0.05% 1%;
    font-size: 12px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
img{
    padding:0% 31%;
    width:150px;
    height: 150px;;

}
h3{
    text-align: center;
}
ul {
    padding: 0; /* Убираем поля */
    margin-left: 15px; /* Отступ слева */
}